openapi: 3.0.2
info:
  title: Backend Server API

servers:
  - url: https://arpetpals.store/

tags:
  - name: User
    description: User Authentication and Management

  - name: Pet
    description: Pet Interaction and Management

  - name: Food
    description: Food Recognition and Analytics

  - name: Leaderboard
    description: Configuring the User Leaderboard
    
paths:
  # User Routes
  /api/signin:
    post:
      tags:
        - User
      
      summary: "Sign In"
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: Success
          content:  
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: User ID
                  name:
                    type: string
                    description: Username

        '400':
          description: Failure
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"
  
  /api/signup:
    post:
      tags:
        - User

      summary: "Sign Up"
      
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                username:
                  type: string
                password:
                  type: string

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: number
                    description: User ID
                  name:
                    type: string
                    description: Username
                  dailyStepGoal:
                    type: object
                    description: User's Daily Step Goal

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"
  
  /api/token/verify:
    post:
      tags:
        - User

      summary: "Validate User Token"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  string: User Token

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  isValid:
                    type: boolean

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"
  
  # Pet Routes
  /api/pet/name:
    get:
      security: 
        - token: []

      tags:
        - Pet 

      summary: "Get Pet Name"
      
      requestBody:
        description: "User ID is provided in the request headers."
        required: true
  
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Pet Name

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"                    

    post:
      security: 
        - token: []

      tags:
        - Pet

      summary: "Update Pet Name"

      requestBody:
        required: true
        description: "User ID is provided in the request headers."
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Updated Pet Name
      
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Pet name updated successfully.
      
        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  /api/pet/create:
    post:
      tags:
        - Pet

      security: 
        - token: []
      
      summary: "Create a New Pet"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message
                  petInfo:
                    type: object
                    properties:
                      id:
                        type: number
                        description: Pet ID
                      name:
                        type: string
                        description: Pet Name
                      status:
                        type: object
                        properties:
                          health:
                            type: number
                          mood:
                            type: number

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  /api/pet/status:
    post:
      tags:
        - Pet

      security: 
        - token: []

      summary: "Update Pet Status"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                health:
                  type: number
                mood:
                  type: number

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message
                  health:
                    type: number
                  mood:
                    type: number

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

    get:
      tags: 
        - Pet
      
      security: 
        - token: []
      
      summary: "Get Pet's Status"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  health:
                    type: number
                  mood:
                    type: number
                  extra:
                    type: object
                    properties:
                      minutes_since_last_feeding:
                        type: number
                      minutes_since_last_activity:
                        type: number
                  activities:
                    type: array

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  /api/pet/status/reset:
    post:
      tags:
        - Pet

      security: 
        - token: []

      summary: "Reset the Pet's Status"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true
        content:
          application/json:
            schema:
                type: object
                properties:
                  reset_type:
                    type: number
                    description: "ENUM - 0: ALL, 1: HEALTH, 2: MOOD"

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  /api/pet/status/increaseMood:
    put:
      tags:
        - Pet

      security: 
        - token: []

      summary: "Increase the Pet's Mood"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true
        content:
          application/json:
            schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Activity Type
      
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message
                  mood:
                    type: number
                  activities:
                    type: array

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  
  /api/pet/activities/reset:
    put:
      tags:
        - Pet

      security: 
        - token: []

      summary: "Reset the Pet's Activities"
      description: Run as a Cron Job.
      
      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message
                  matchedCount:
                    type: number
                  modifiedCount:
                    type: number

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"
  
  /api/pet/choice:
    post:
      tags:
        - Pet

      security: 
        - token: []

      summary: "Update Pet Choice"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true
        content:
          application/json:
            schema:
                type: object
                properties:
                  type:
                    type: string
                    description: Choice

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success Message

        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

    get:
      tags: 
        - Pet

      security: 
        - token: []

      summary: "Get Pet Choice"

      requestBody:
        description: "User ID is provided in the request headers."
        required: true

      responses:
        '200':
          description: "Success"
          content:
            application/json:
              schema:
                type: object
                properties:
                  choice:
                    type: string
                    description: Pet Choice
                
        '400':
          description: "Failure"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Fail"

  # Food Routes
  /api/food/recognize:
    post:
      tags:
        - Food

  /api/food/healthRating:
    post:
      tags:
        - Food

  # Leaderboard Routes
  /api/leaderboard/list:
    get:
      tags:
      - Leaderboard
  

components:
  securitySchemes:
    token:            
      type: http
      scheme: bearer
      bearerFormat: JWT   
  
  schemas:
    PetStatus:
      type: object
      properties:
        health: int

    PetChoice:
      type: object
      properties:
        choice: string

    VerifyToken:
      type: object
      properties:
        token: 
          type: string
    
    TokenValid:
      type: object
      properties:
        isValid: 
          type: boolean

    UserInfo:
      type: object
      properties:
        id: 
          type: string
        name: 
         type: string

    AuthSuccess:
      type: object
      properties:
        token: 
          type: string
          description: "the auth token"
        userInfo:
          type: object
          $ref: "#/components/schemas/UserInfo"
    
    Fail:
      type: object
      properties:
        message:
          type: string
          description: Reason for Failure

    Status:
      type: object
      properties:
        message: 
          type: string
          description: status

    UserInterfaceLayout:
      type: object
      properties:
        layoutId:
          type: string
          description: "ID of the UI layout."
        components:
          type: array
          items:
            type: string
          description: "Components present in the UI layout."

    UserInputDetails:
      type: object
      properties:
        inputType:
          type: string
          description: "Type of user input."
        inputValue:
          type: string
          description: "Value of the user input."

    NotificationDetails:
      type: object
      properties:
        notificationType:
          type: string
          description: "Type of notification."
        message:
          type: string
          description: "Message content of the notification."

    LeaderboardDetails:
      type: object
      properties:
        rank:
          type: array
          items:
            $ref: "#/components/schemas/UserRank"
          description: "List of users and their rankings."

    UserRank:
      type: object
      properties:
        userId:
          type: string
          description: "ID of the user."
        score:
          type: integer
          description: "User's score on the leaderboard."

    ExerciseReminderDetails:
      type: object
      properties:
        reminderMessage:
          type: string
          description: "Message for the exercise reminder."

    PetStatusRequestBody:
      type: object
      properties:
        health:
          type: number
          description: "Pet's health (optional)"
        mood:
          type: number
          description: "Pet's mood (optional)"

    PetStatusResetRequestBody:
      type: object
      properties:
        reset_type:
          type: integer
          description: "0: Reset All, 1: Reset Health, 2: Reset Mood"
      required: [reset_type]

    PetStatusExtraSchema:
      type: object
      properties:
        minutes_since_last_feeding:
          type: number
          description: "Minutes since last feeding"
        minutes_since_last_activity:
          type: number
          description: "Minutes since last activity"

    PetStatusSchema:
      type: object
      properties:
        health:
          type: number
          description: "Pet's health"
        mood:
          type: number
          description: "Pet's mood"
        extra: 
          type: object
          $ref: "#/components/schemas/PetStatusExtraSchema"
    
    PetInfoSchema:
      type: object
      properties:
        id:
          type: string
          description: "Pet's id"
        name:
          type: string
          description: "Pet's name"
        status:
          type: object
          $ref: "#/components/schemas/PetStatusSchema"
    
    PetCreationSchema:
      type: object
      properties:
        message:
          type: string
          description: "successful message"
        petInfo:
          type: object
          $ref: "#/components/schemas/PetInfoSchema"

    

    